<!DOCTYPE html>
<html>
    <head>
        <title>Guillaume Loulier - Developer</title>
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>