<!DOCTYPE html>
<html>
    <head>
        <title>Guillaume Loulier - Developer</title>
        <link rel="shortcut icon" href="../web/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../web/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
